<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286455810620-80r77k91v9g6h2ci3scjddeoeac91i0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286455810620-80r77k91v9g6h2ci3scjddeoeac91i0h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>286455810620-d65cornb5mes9p5sfalbb8auteaprcef.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9pGDQZsnjOwQEkW7rVLJ7XukQt4YGKis</string>
	<key>GCM_SENDER_ID</key>
	<string>286455810620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikaychina.photogram</string>
	<key>PROJECT_ID</key>
	<string>musterus-api</string>
	<key>STORAGE_BUCKET</key>
	<string>musterus-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286455810620:ios:13d525f15ada4a52bdd139</string>
	<key>DATABASE_URL</key>
	<string>https://musterus-api-default-rtdb.firebaseio.com</string>
</dict>
</plist>